.secao {
	width: 100%;
	float: left;
}
.mini {
	width: 50%;
	float: left;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
}
.logo,
.secao {
	padding: 0 1%;
}
img {
	max-width: 100%;
}

/* header */

.logo,
.busca,
.barra-nav,
.menu-principal {
	display: inline-block;
	vertical-align: middle;
}
.menu-principal li {
	float: left;
}
header {
	padding: 0.5em 0;
}
.destaques {
	margin-top: 1em;
}
.barra-nav {
	margin: 0.4em 0;
}
@media (min-width: 600px) {
	html {
		font-size: 1.125em;
	}
}
@media (min-width: 1000px) {
	html {
		font-size: 1.25em;
	}
}
@media (min-width: 600px) {
	.secao {
		width: 50%;
	}
}
@media (min-width: 1000px) {
	.secao {
		width: 33.333%;
	}
}
@media (max-width: 600px) {
	.barra-nav {
		background: #f0f0f0;
		padding: 1em;
		margin: 0;

		height: 100%;
		width: 90%;
		max-width: 320px;

		position: fixed;
		z-index: 1;
		top: 0;
		left: -90%;

		transition: left 0.3s ease-out;
	}
	.menu-ativo .barra-nav {
		left: 0;
	}
	.menu-principal li {
		padding: 1em 0;
		width: 100%;
	}
}
@media not all and (max-width: 600px) {
	.abrir-menu,
	.fechar-menu {
		display: none;
	}
}
@media (max-width: 600px) {
	.menu-ativo:after {
		content: '';
		display: block;

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background: rgba(0, 0, 0, 0.4);
	}
}
.abrir-menu,
.fechar-menu {
	background: none;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	font-size: 1.6em;
	text-indent: -999em;
}
.abrir-menu {
	height: 0;
	width: 0.75em;
	padding-top: 0.125em;
	border-top: 0.375em double #000;
	border-bottom: 0.125em solid #000;

	vertical-align: middle;
	margin: 0.5em;
}
.fechar-menu {
	position: relative;
	height: 1em;
	width: 1em;
}
.fechar-menu:before {
	content: '\00D7';
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 0;
}
.logo img {
	width: 200px;
}
